<h1>バーコードからISBNコードを読み取る機能</h1>



<% require "open3"
   o, e, s =Open3.capture3('zbarimg','--raw','/Users/bi17068/rails_app/workspace/public/barcode3.jpg')
   # o, e, s = Open3.capture3("date")
%>
<p>標準出力:<%= o%></p>
<p>標準エラー:<%= e%></p>
<p>プロセスの終了ステータス:<%= s%></p>


<button type="button" onclick="location.href='/home/useGoogleBook  '" class="btn btn-info">useGoogleBookAPI</button>

<!--
ISBN コードの中身
 ISBN ●●● – ▲▲ – ■■■■ – ○○○○ – △
 ●●●…『接頭記号』
「書籍」を表す3桁の番号。「978」と「979」があり、日本は「978」。



▲▲…『国記号』
書籍を発行する国や地域を表す番号。日本は「4」。
ちなみに、「0」「1」はアメリカなどの英語圏、「2」はフランスなどのフランス語圏、「3」はドイツなどのドイツ語圏です。



■■■■…『出版者記号』
出版者(社)を表す番号。例えば、小学館さんでしたら「09」になります。（画像参照）



○○○○…『書名記号』
書籍出版物の固有番号。タイトルごとに付けられる番号ですね。



△…『チェックデジット』
ISBNコードに誤りがないかチェックするための番号。
一定の計算法で数値が決まるのですが、ここでは省略します。
-->
